:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	min-height: 100vh;
	align-items: center;
	justify-content: flex-start;
}

header {
	padding: 10px;
}

header > nav {
	display: flex;
	justify-content: center;
	gap: 10px;
}

.dropdown {
	position: relative;
	width: 175px;
}

.dropdown-button {
	width: 100%;
}

.plant-list > li {
	display: flex;
}

.plant-list > li > img {
	height: 25px;
	width: auto;
}

.nav-button {
	background-color: transparent;
	border: 2px solid #ddd;
	border-radius: 8px;
	padding: 8px 16px;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease;
}

.nav-button:hover {
	background-color: #333;
}

.nav-button:focus {
	outline: none;
	box-shadow: 0 0 0 2px rgba(0, 255, 0, 0.5);
}

.plant-list {
	background-color: #242424;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	list-style: none;
	padding: 8px 0;
	margin: 0;
	z-index: 100;
	padding: 8px 12px;
}

.plant-list li {
	padding: 8px 12px;
	cursor: pointer;
	background-color: #242424;
	border-radius: 5px;
}

.plant-list li:hover {
	background-color: #f0f0f0;
	color: #242424;
	border-radius: 5px;
}

.pole {
	padding: 25px;
	width: 70vw;
	background-color: #313131;
	display: grid;
	grid-template-columns: repeat(5, minmax(0, auto));
	grid-template-rows: repeat(2, 1fr);
	gap: 10px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin-bottom: 10px;
}

.pole-grzadka {
	background-color: #414141;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
	max-width: 100%;
	position: relative;
	height: 100%;
	transition: background-color 0.3s ease;
}

.pole-grzadka:hover {
	background-color: #505050;
}

.pole-grzadka.locked {
	background-color: #2a2a2a;
	pointer-events: none;
}

.pole-grzadka.locked .lock-icon {
	opacity: 0.5;
	position: absolute;
	color: red;
	font-size: 40px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.pole-grzadka.locked > img {
	opacity: 0.5;
}

.pole-grzadka > img {
	height: 340px;
	width: auto;
	max-width: 100%;
	object-fit: contain;
	border-radius: 5px;
	transition: transform 0.3s ease;
}

.pole-grzadka:hover > img {
	transform: scale(1.05);
}

.ready {
	border: 3px solid rgb(64, 193, 73);
}

.ready-harvest {
	border: 3px solid rgb(232, 235, 59);
}

.fill-border {
	border: 3px solid rgba(64, 193, 73, 0);
}

.status-text {
	height: 1.5em;
	min-height: 1.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
	font-size: 0.9em;
	color: #bbb;
	transition: color 0.3s ease;
}

.status-text p {
	margin: 0;
}

.status-text:hover {
	color: #fff;
}

.status-text.locked {
	color: #fff;
	font-weight: bold;
}

.shop {
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
}

.upgrades-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, auto));
	grid-template-rows: repeat(2, 1fr);
	gap: 10px;
	margin: 25px auto;
	background-color: #313131;
	width: 70 vw;
}

.upgrade {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #414141;
	border-radius: 10px;
	margin: 5px 10px 5px;
	padding: 5px 10px 10px;
}
